<div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-12">
         
        </div>
      </div>
      <img class="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/D%C3%BClmen%2C_Hausd%C3%BClmen%2C_Heubach_--_2019_--_3260.jpg/500px-D%C3%BClmen%2C_Hausd%C3%BClmen%2C_Heubach_--_2019_--_3260.jpg" class="center" alt="Field of grain">
      <h3 class="text-center">What is a sonnet?</h3>
       <p>A sonnet is a short lyric poem that consists of 14 lines, typically 
        written in iambic pentameter (a 10-syllable pattern of stressed and 
        unstressed syllables) and following a specific rhyme scheme (of which 
        there are several—we’ll go over this point more in just a moment).

        In addition, sonnets have something called a volta (twist or turn),
         in which the rhyme scheme and the subject of the poem suddenly change, 
         often to indicate a response to a question, a solution to a problem, or
          the resolving of some sort of tension established at the beginning of 
          the poem. This turn normally happens closer to the end of the sonnet, though precisely when it appears varies depending on the particular sonnet form.
       </p>
       <h3 class="text-center">Petrarchan Sonnet</h3>
        <h4 class="text-center"> The Petrarchan sonnet rhyme scheme: abba abba cdc dcd</h4>
          <p  class="text-start">
                      Sonnet 43 by Elizabeth Barrett Browning</li>

          <li>How do I love thee? Let me count the ways. (a)</li>
          <li>I love thee to the depth and breadth and height (b)</li>
          <li>My soul can reach, when feeling out of sight (b)</li>
          <li>For the ends of being and ideal grace. (a)</li>
          <li>I love thee to the level of every day’s (a)</li>
          <li>Most quiet need, by sun and candle-light. (b)</li>
          <li>I love thee freely, as men strive for right; (b)</li>
          <li>I love thee purely, as they turn from praise. (a)</li>
          <li>I love thee with the passion put to use (c)</li>
          <li>In my old griefs, and with my childhood’s faith. (d)</li>
          <li>I love thee with a love I seemed to lose (c)</li>
          <li>With my lost saints. I love thee with the breath, (d)</li>
          <li>Smiles, tears, of all my life; and, if God choose, (c)</li>
          <li>I shall but love thee better after death. (d)</li>

          </p>
 
       <h3 class="text-center">Shakespearean Sonnet</h3>
        <h4 class="text-center"> Shakespearean sonnet rhyme scheme: abab cdcd efef gg</h4>
          <p>
                        Sonnet 18 by William Shakespeare

            <li>Shall I compare thee to a summer's day? (a)</li>
            <li>Thou art more lovely and more temperate. (b)</li>
            <li>Rough winds do shake the darling buds of May, (a)</li>
            <li>And summer's lease hath all too short a date. (b)</li>
            <li>Sometime too hot the eye of heaven shines, (c)</li>
            <li>And often is his gold complexion dimmed; (d)</li>
            <li>And every fair from fair sometime declines, (c)</li>
            <li>By chance, or nature's changing course, untrimmed; (d)</li>
            <li>But thy eternal summer shall not fade, (e)</li>
            <li>Nor lose possession of that fair thou ow'st, (f)</li>
            <li>Nor shall death brag thou wand'rest in his shade, (e)</li>
            <li>When in eternal lines to Time thou grow'st. (f)</li>
            <li>So long as men can breathe, or eyes can see, (g)</li>
            <li>So long lives this, and this gives life to thee. (g)</li>
          </p>
         <h3 class="text-center">Terza Rima Sonnet</h3>
          <h4 class="text-center"> Terza Rima Sonnet rhyme scheme: aba bcb cdc ded aa</h4>
          <p>
              "Acquainted With the Night" by Robert Frost

              <li>I have been one acquainted with the night. (a)</li>
              <li>I have walked out in rain—and back in rain. (b)</li>
              <li>I have outwalked the furthest city light. (a)</li>

              <li>I have looked down the saddest city lane. (b)</li>
              <li>I have passed by the watchman on his beat (c)</li>
              <li>And dropped my eyes, unwilling to explain. (b)</li>

              <li>I have stood still and stopped the sound of feet (c</li>)
              <li>When far away an interrupted cry (d)</li>
              <li>Came over houses from another street, (c)</li>

              <li>But not to call me back or say good-bye; (d)</li>
              <li>And further still at an unearthly height, (a) / (e)</li>
              <li>One luminary clock against the sky (d)</li>

              <li>Proclaimed the time was neither wrong nor right. (a)</li>
              <li>I have been one acquainted with the night. (a)</li>
          </p>
       
       <h3>Creative Content From People Like You</h3>
<!-- this chunk of code does not work until we have data in db -->
      <% posts.forEach(function(a) { %>
        <div class="well">
          <h2>
          <% if (!a.user) { %>
            <a href="/posts/<%= a.id %>"><%= a.title %></a>
          <% }else { %>
            <a href="/posts/<%= a.id %>"><%= a.title %></a>
            <small>by <%= a.user.name %></small>
          </h2>


          
        </div> 
         <% } %>
      <% }) %>
    </div>
    <div class="col-sm-4">
      <p></p>

    </div>
  </div>
  