<div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-12">
          <img class="hero" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/D%C3%BClmen%2C_Hausd%C3%BClmen%2C_Heubach_--_2019_--_3260.jpg/500px-D%C3%BClmen%2C_Hausd%C3%BClmen%2C_Heubach_--_2019_--_3260.jpg">
        </div>
      </div>
      <h3>Creative Content From Contributors Like You</h3>
<!-- this chunk of code does not work until we have data in db -->
      <% posts.forEach(function(a) { %>
        <div class="well">
          <h2>
          <% if (!a.user) { %>
            <a href="/posts/<%= a.id %>"><%= a.title %></a>
          <% }else { %>
            <a href="/posts/<%= a.id %>"><%= a.title %></a>
            <small>by <%= a.user.name %></small>
          </h2>


          
        </div> 
         <% } %>
      <% }) %>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
  